<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
    <a class="sidebar-nav-item" href="{{ site.author.url }}">Rice Page</a>

    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    <span class="sidebar-nav-item">{{ site.description }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>

  <center>
    <a href="http://www2.clustrmaps.com/user/2e3112b2a"><img src="http://www2.clustrmaps.com/stats/maps-no_clusters/yinsen.blogs.rice.edu--thumb.jpg" alt="Locations of visitors to this page"/></a>
  </center>
  <center>
    <script type="text/javascript" src="//ra.revolvermaps.com/0/0/6.js?i=0y5xrppmiw4&amp;m=7&amp;s=320&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
  </center>
</div>